/* TagSelector.module.css */


.tagSelector {
    margin-top: 20px;
  }

  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .tagList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
  }
  
  .tagListItem {
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tagBox {
    display: inline-block;
    background-color: #F2ECEA;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 5px;
    font-size: 14px;
    position: relative;
  }
  
  .closeButton {
    background: transparent;
    border: none;
    color: #84645A;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .selectedTagsContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .buttonRow {
    display: flex;
    gap: 10px;
  }
  